.idea
/target/classes
/target/generated-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/test-classes
/target/code-duel-0.0.1-SNAPSHOT.jar.original
/target/code-duel-0.0.1-SNAPSHOT.jar
.mvn
mvnw
mvnw.cmd
code-duel.iml
